<table class="table table-striped table-bordered collection">
	<thead>
		<tr class="field-heading-row">
		  <th class="Service-heading">Name</th>
      <th class="description-heading">Description</th>
      <th class="imageurl-heading">Website</th>   
		</tr>
	</thead>
	<tbody>
	<%@providers.each do |provider|%>
		<tr>
			<td><%=provider.name%></td>
			<td><%=provider.description%></td>
			<td><%=provider.website%></td>
		</tr>
	<%end%>
	</tbody>
</table>

